spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    gateway:
      routes:
        - id: board-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/boards/** 